body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
  }

header {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

ul.header-links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight:100;
    gap: 24px;
  }

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 360px;
    line-height: 48px;

}

.hero-secondary-text{
    margin-top: -64px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    width: 480px;
}

.hero-image {
    display: flex;
    border-radius: 16px;
}

.hero-button {
    display: flex;
    background-color: #3882f6;
    width: 140px;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

.container-1 {
    display: flex;
    background-color: white;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information {
    display: flex;
    font-size: 18px;
    font-weight: 100;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
}

.item-1, .item-2, .item-3, .item-4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.info-image {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.container-2 {
    padding: 80px 400px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-citation {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    justify-content: flex-end;
    line-height: 24px;
    padding-right: 40px;
    padding-top: -40px;
    margin-top: -40px;
}